<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee998b">  <td>20/07/03 01:00:16</td>   <td>0</td> <td title="&gt;&gt;ExtentReport.setup()[pri:0, instance:TestNG.ExtentReport@37e547da]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2039810346</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>20/07/03 01:00:16</td>   <td>281</td> <td>&nbsp;</td><td title="&gt;&gt;ExtentReport.setUpTest()[pri:0, instance:TestNG.ExtentReport@37e547da]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2039810346</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>20/07/03 01:00:21</td>   <td>5010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReport.adminlogintest()[pri:0, instance:TestNG.ExtentReport@37e547da]">adminlogintest</td> 
  <td>main@2039810346</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>20/07/03 01:00:25</td>   <td>9879</td> <td>&nbsp;</td><td title="&lt;&lt;ExtentReport.tearDownTest()[pri:0, instance:TestNG.ExtentReport@37e547da]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2039810346</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>20/07/03 01:00:27</td>   <td>11017</td> <td title="&lt;&lt;ExtentReport.tearDown()[pri:0, instance:TestNG.ExtentReport@37e547da]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2039810346</td>   <td></td> </tr>
</table>
