<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67a8a9">  <td>20/07/04 01:42:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleFlight.adminlogintest()[pri:0, instance:TestNG.ScheduleFlight@7c417213]">adminlogintest</td> 
  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>20/07/04 01:42:10</td>   <td>-17273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelUtil.logintoAdmin(java.lang.String, java.lang.String)[pri:0, instance:Util.ExcelUtil@15761df8]">logintoAdmin</td> 
  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="67a8a9">  <td>20/07/04 01:42:32</td>   <td>5355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleFlight.scheduleFlight()[pri:0, instance:TestNG.ScheduleFlight@7c417213]">scheduleFlight</td> 
  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="67a8a9">  <td>20/07/04 01:41:54</td>   <td>-32858</td> <td title="&gt;&gt;ScheduleFlight.setup()[pri:0, instance:TestNG.ScheduleFlight@7c417213]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>20/07/04 01:41:54</td>   <td>-32710</td> <td>&nbsp;</td><td title="&gt;&gt;ExcelUtil.setup()[pri:0, instance:Util.ExcelUtil@15761df8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="67a8a9">  <td>20/07/04 01:42:00</td>   <td>-26787</td> <td>&nbsp;</td><td title="&gt;&gt;ScheduleFlight.setupTest()[pri:0, instance:TestNG.ScheduleFlight@7c417213]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="67a8a9">  <td>20/07/04 01:43:13</td>   <td>45904</td> <td title="&lt;&lt;ScheduleFlight.tearDown()[pri:0, instance:TestNG.ScheduleFlight@7c417213]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="67a8a9">  <td>20/07/04 01:43:12</td>   <td>45090</td> <td>&nbsp;</td><td title="&lt;&lt;ScheduleFlight.tearDownTest()[pri:0, instance:TestNG.ScheduleFlight@7c417213]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>20/07/04 01:42:26</td>   <td>-678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExcelUtil.teardown()[pri:0, instance:Util.ExcelUtil@15761df8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1276504061</td>   <td></td> </tr>
</table>
